<!-- heading -->
<h4 class="text-center my-3 text-decoration-underline">About us</h4>
<!-- heading End -->
<!-- image -->
<div class="text-center">
    <img src="http://cmhelpline.mp.gov.in/UI/img/cmhelpline.jpg" width="500px" height="300px">
</div>
 <!-- image-end -->
 <!-- about-contant -->
 <h3 class="text-center my-5">CM Helpline (181)</h3>
 <div class="container">
    <P>Establishment of good governance is one of the top priorities of the state government. CM Helpline was started from 31st July, 2014 under Public Service Management Department. At the call center, citizens are contacted for information, complaints and demands/suggestions about government schemes. CM Helpline is an innovative effort towards quick resolution of the problems of the people living in remote rural areas. Through this, after receiving the call on the toll-free number 181, the complaints received are sent to the concerned officers for redressal and after redressal by the officials, the concerned citizens are also made aware of the resolution. C.M. Helpline, State Public Service Agency (M.A.) is playing an important role in providing citizen centric service.</P>

    <p>Citizens can call the helpline number 181 of the call center from the network of any telecom service provider company. (This call is completely free) Also the citizens themselves can call CM. Through the mobile app on the helpline portal, you can register your complaint and your feedback on the registered complaint. CM The following types of calls are being received on helpline 181:-</p>

  <!-- list -->
  <ul class="list-group my-4 w-75 ">
        <li class="list-group-item d-flex justify-content-between align-items-center shadow-sm p-3 mb-1 bg-white rounded ">
            1. Information about government schemes call
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center shadow-sm p-3 mb-1 bg-white rounded">
           2. complaint call
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center shadow-sm p-3 mb-1 bg-white rounded">
           3. call and suggestion call
         </li>
         <li class="list-group-item d-flex justify-content-between align-items-center shadow-sm p-3 mb-1 bg-white rounded">
           4. corruption call
         </li>
         <li class="list-group-item d-flex justify-content-between align-items-center shadow-sm p-3 mb-1 bg-white rounded">
           5. Call for information regarding redressal of complaint made in CM Helpline.call and suggestion call
         </li>
         <li class="list-group-item d-flex justify-content-between align-items-center shadow-sm p-3 mb-1 bg-white rounded">
           6. Application for copies of Income Certificate, Native Certificate, Current Map, Current Khasra / Khatauni
         </li>
     </ul>

     <!-- --:CM Special Initiatives of Helpline :- -->
     <h2 class="text-center my-5">--:CM Special Initiatives of Helpline :-</h2>
     <p><b>[1] Women's Helpline:-</b></p>
     <p>Operation of women's helpline in the state has been started from March 8, 2020 (Women's Day) to prevent harassment of women. CM for operation of women helpline Helpline (181) has been integrated. In the women's helpline, immediate relief is being provided by counseling women in crimes and problems related to women.</p>
     <p><b>[2] CPGRAMS Portal:-</b></p>
     <p>From 06 November 2020, the CM of the Central Government's CPGRAMS Portal. Integrated with Helpline Portal. Due to which the complaints received from the CPGRAMS portal will now be sent to the CM. After being registered on the Helpline 181 portal, it is being sent to the respective districts and departments for redressal.</p>
     <p><b>[3] Facility of WhatsApp: -</b></p>
     <p>Through WhatsApp number +917552555582, the facility has been made available to the citizens to provide information about the status / information of the complaints lodged by them and the schemes.</p>
 </div>
 <br><br><br>
 <footer>
    <div class="container-fluid mb-lg-0" style="margin: 0px; padding: 0px; box-sizing: border-box;">
      <!-- Copyright -->
      <div class="text-center p-3 bg-dark text-white">
        <b> © Copyright 2022 CM Helpline Portal-All Rights Reserved </b>
      </div>
      <!-- Copyright -->
    </div>
    <!-- End of .container -->
    </footer>
 
