<div class="conatainer" class="my-5 mx-5">
<table class="table table-light">
    <thead>
      <tr>
        <th scope="col">GRIEVANCE STATUS</th>
      </tr>
    </thead>
    <tbody class="mt-2">
      <tr>
        <input name="" type="text" id="" autocomplete="off" class="form-control" placeholder="Complaint No.">
        <button type="submit" class="btn btn-outline-primary text-dark my-3" style=" margin-top: 2px; width: 10%">Search</button>
      </tr>
    </tbody>
  </table>
</div>
    <!-- Footer -->
<footer  class="fixed-bottom mt-5">
<div class="container-fluid mb-lg-0" style="margin: 0px; padding: 0px; box-sizing: border-box;">
  <!-- Copyright -->
  <div class="text-center p-3 bg-dark text-white">
    <b> © Copyright 2022 CM Helpline Portal-All Rights Reserved </b>
  </div>
  <!-- Copyright -->
</div>
<!-- End of .container -->
</footer>
