<div class="container-fluid mt-5 w-50" >
<h3 class="text-center text-danger">Contacts</h3>
<table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-danger">C.M. Helpline, Toll Free:-181</th>   
      </tr>
    </thead>
    <tbody>
      <tr>
        <table class="table table-bordered my-2">
            <thead>
              <tr>
                <th scope="col">The Name</th>
                <th>Contact number</th>     
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>
                    To lodge a complaint
                  </td>
                  <td>
                    181(Toll Free)
                  </td>
              </tr>
            </tbody>
        </table>
      </tr>
      <tr>
        <th scope="row" class="text-danger"><a>C.M. HelpLine(181),e-mail-director.cmhelpline [at] gmail [dot] com</a></th>
      </tr>
    </tbody>
  </table>
  </div>
   <!-- footer -->
   <footer  class="fixed-bottom mt-5">
    <div class="container-fluid mb-lg-0" style="margin: 0px; padding: 0px; box-sizing: border-box;">
      <!-- Copyright -->
      <div class="text-center p-3 bg-dark text-white">
        <b> © Copyright 2022 CM Helpline Portal-All Rights Reserved </b>
      </div>
      <!-- Copyright -->
    </div>
    <!-- End of .container -->
    </footer>
    <!-- end-footer -->