<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand mr-auto" href="#">
      <img id="logo" src="http://cmhelpline.mp.gov.in/UINew/img/logo.png" class="img-fluid" alt="logo">
      </a>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" routerLink="home" ><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" aria-current="page" routerLink="aboutUs"><b>About Us</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="contact" aria-current="page" ><b>Contacts</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  fs-5" routerLink="officerLogin"><b>Officer-Login</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  fs-5" routerLink="userllogin"><b>User-Login</b></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link  fs-5" routerLink="userReg"><b>User-Registration</b></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link  fs-5" routerLink="complaintStatus"><b>Complaint Status</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
      <!-- End-navbar -->
       <!-- contact model -->
       
      
       <!-- end-contact-model -->
      <!-- Footer -->
<!-- <footer  class="fixed-bottom mt-5"> -->
<!-- <div class="container-fluid mb-lg-0" style="margin: 0px; padding: 0px; box-sizing: border-box;"> -->
  <!-- Copyright -->
  <!-- <div class="text-center p-3 bg-dark text-white"> -->
    <!-- <b> © Copyright 2022 CM Helpline Portal-All Rights Reserved </b> -->
  <!-- </div> -->
  <!-- Copyright -->
<!-- </div> -->
<!-- End of .container -->
<!-- </footer> -->
<router-outlet></router-outlet>